<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12557053268-2f7dvnthmmkhipbk5vibq7ud5oav8af9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12557053268-2f7dvnthmmkhipbk5vibq7ud5oav8af9</string>
	<key>API_KEY</key>
	<string>AIzaSyA6oNLzyX52UqpnHzLvlXPEXfB5bmaS9WI</string>
	<key>GCM_SENDER_ID</key>
	<string>12557053268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomhaines.test.notify</string>
	<key>PROJECT_ID</key>
	<string>dwyl-test</string>
	<key>STORAGE_BUCKET</key>
	<string>dwyl-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12557053268:ios:1c974f31d343b24587acc1</string>
	<key>DATABASE_URL</key>
	<string>https://dwyl-test.firebaseio.com</string>
</dict>
</plist>